.avatar-wrapper {
    position: relative;
}

.avatar {
    position: absolute;
    right: 0;
    border-radius: 50%;
}

.avatar-animation {
    transition-duration: 250ms;
    transition-timing-function: linear;
}

.avatar2 {
    border-radius: 60%;
    transform: scale(0.9, 0.9);
}

.avatar-animation:hover,
.avatar-animation:focus {
    transform: translateY(100%);
}

.category:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0 !important;
}

.category-button {
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 97, 97);
}

.buttons {
    display: inline-flex;
}

.is-hidden {
    display: none;
}

.category-button:hover,
.category-button:focus {
    background-color: rgb(245, 139, 139);
}

html {
    height: 100%;
}

::selection {
    background-color: rgba(245, 139, 139, .589);
}

main {
    background-image: url(./pictures/american-flag-screen-backgrounds-wallpaper-preview.jpg);
}

.page:hover {
    box-shadow: 0 10px 100px 0 rgba(245, 139, 139, .3);
}

  
.backdrop {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 139, 139, .589);
    padding: 93px 15px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: tomato;
}

body.modal-open {
    overflow: hidden;
}

.label {

}

.check-age-button {
    display: flex;
    width: 50px;
}