.avatar-wrapper {
    position: relative;
}

.avatar {
    position: absolute;
    right: 0;
    border-radius: 50%;
}

.avatar-animation {
    transition-duration: 250ms;
    transition-timing-function: linear;
}

.avatar2 {
    border-radius: 60%;
    transform: scale(0.9, 0.9);
}

.avatar-animation:hover,
.avatar-animation:focus {
    transform: translateY(100%);
}

.category:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0 !important;
}

.category-button {
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 97, 97);
}

.buttons {
    display: inline-flex;
}

.is-hidden {
    display: none;
}